{% extends "base_venue.html" %}
{% block title %}Админпанель{% endblock %}

{% block content %}
<div class="admin-panel-center">
    <div class="admin-panel-buttons">
        <a href="{{ url_for('admin_active_bookings') }}" class="admin-btn">Активные брони</a>
        <a href="{{ url_for('admin_booking_history') }}" class="admin-btn">История бронирования</a>
        <a href="{{ url_for('admin_edit_photo') }}" class="admin-btn">Изменение фото</a>
        <a href="{{ url_for('admin_edit_text') }}" class="admin-btn">Изменение текста</a>
        <a href="{{ url_for('admin_ban_user') }}" class="admin-btn">Бан пользователя</a>
        <a href="{{ url_for('admin_ban_user') }}" class="admin-btn">Плейсхолдер</a>
    </div>
</div>
{% endblock %} 