{% extends "base_venue.html" %}
{% block title %}Контакты{% endblock %}

{% block content %}
<div class="venue-page">
    <div class="venue-textblock admin-textblock">
        <h2>админская панель</h2>
        <div class="admin-buttons">
            <button>активные брони</button>
            <button>отмена бронирования</button>
            <button>история бронирования</button>
            <button>админская бронь</button>
            <button>изменение фото</button>
            <button>изменение текста</button>
            <button>бан пользователя</button>
            <button>что-то</button>
            <button>что-то</button>
            <button>что-то</button>
        </div>
    </div>
</div>
{% endblock %} 