<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}fefudance{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% block extra_css %}{% endblock %}
</head>
<body class="index-page">
    {% include 'header.html' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/venue_likes.js') }}"></script>
    {% block scripts %}
    <script src="static/js/calendar.js"></script>
    {% endblock %}
</body>
</html> 