<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | fefudance</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}
    <div class="page-wrapper">
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}

    <div id="img-modal" class="img-modal">
        <span class="img-modal-close">&times;</span>
        <img class="img-modal-content" id="img-modal-full">
    </div>
    <script src="{{ url_for('static', filename='js/venue_lightbox.js') }}"></script>
</body>
</html> 