<div class="calendar-wrapper">
    <div class="venue-tabs">
        {% for venue in venues %}
        <button class="venue-tab">{{ venue.name }}</button>
        {% endfor %}
    </div>
    <div class="calendar">
        <div class="month">
            <div class="prev">&#10094;</div>
            <div>
                <h1>Июнь</h1>
                <p>2025</p>
            </div>
            <div class="next">&#10095;</div>
        </div>

        <div class="weekdays">
            <div>пн</div>
            <div>вт</div>
            <div>ср</div>
            <div>чт</div>
            <div>пт</div>
            <div>сб</div>
            <div>вс</div>
        </div>

        <div class="days">
            <!-- JavaScript -->
        </div>

        <div class="time-slots">
            <form method="post" name="booking">
            <h3>Выберите время бронирования:</h3>
            <div class="time-grid">
                <div class="time-slot">
                    <span class="slot-text left">10:00</span><span class="slot-text dash"> - </span><span class="slot-text right">11:00</span>
                    <div class="slot-half left" data-time="10:00"></div>
                    <div class="slot-half right" data-time="10:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">11:00</span><span class="slot-text dash"> - </span><span class="slot-text right">12:00</span>
                    <div class="slot-half left" data-time="11:00"></div>
                    <div class="slot-half right" data-time="11:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">12:00</span><span class="slot-text dash"> - </span><span class="slot-text right">13:00</span>
                    <div class="slot-half left" data-time="12:00"></div>
                    <div class="slot-half right" data-time="12:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">13:00</span><span class="slot-text dash"> - </span><span class="slot-text right">14:00</span>
                    <div class="slot-half left" data-time="13:00"></div>
                    <div class="slot-half right" data-time="13:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">14:00</span><span class="slot-text dash"> - </span><span class="slot-text right">15:00</span>
                    <div class="slot-half left" data-time="14:00"></div>
                    <div class="slot-half right" data-time="14:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">15:00</span><span class="slot-text dash"> - </span><span class="slot-text right">16:00</span>
                    <div class="slot-half left" data-time="15:00"></div>
                    <div class="slot-half right" data-time="15:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">16:00</span><span class="slot-text dash"> - </span><span class="slot-text right">17:00</span>
                    <div class="slot-half left" data-time="16:00"></div>
                    <div class="slot-half right" data-time="16:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">17:00</span><span class="slot-text dash"> - </span><span class="slot-text right">18:00</span>
                    <div class="slot-half left" data-time="17:00"></div>
                    <div class="slot-half right" data-time="17:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">18:00</span><span class="slot-text dash"> - </span><span class="slot-text right">19:00</span>
                    <div class="slot-half left" data-time="18:00"></div>
                    <div class="slot-half right" data-time="18:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">19:00</span><span class="slot-text dash"> - </span><span class="slot-text right">20:00</span>
                    <div class="slot-half left" data-time="19:00"></div>
                    <div class="slot-half right" data-time="19:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">20:00</span><span class="slot-text dash"> - </span><span class="slot-text right">21:00</span>
                    <div class="slot-half left" data-time="20:00"></div>
                    <div class="slot-half right" data-time="20:30"></div>
                </div>
                <div class="time-slot">
                    <span class="slot-text left">21:00</span><span class="slot-text dash"> - </span><span class="slot-text right">22:00</span>
                    <div class="slot-half left" data-time="21:00"></div>
                    <div class="slot-half right" data-time="21:30"></div>
                </div>
            </div>
            <div class="booking-actions">
                <button type="button" class="booking-btn cancel-btn">Отмена</button>
                <button class="booking-btn confirm-btn" name="calendar_book">Забронировать</button>
            </div>
            </form>
        </div>
    </div>
</div> 