{% extends "base_venue.html" %}
{% block title %}Euphoria{% endblock %}

{% block content %}
<div class="venue-page">
    <div class="venue-textblock">
        <h2>{{ venue.name }}</h2>
        <p>{{ venue.description }}</p>
    </div>
    <div class="venue-photoblock">
        <img src="{{ venue.image }}" alt="{{ venue.name }}" class="venue-img-clickable">
    </div>
    <div class="venue-textblock-under">
        <h3>Информация</h3>
        <p>{{ venue.info }}</p>
    </div>
</div>
{% endblock %} 