<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">fefudance</div>
        <div class="footer-links">
            <a href="https://vk.com/dushes_fefu">VK</a>
            <a href="https://vk.com/euphoriadvfu">VK</a>
            <a href="https://vk.com/stickerdvfu">VK</a>
            <a href="https://vk.com/inspodance">VK</a>
            <a href="https://t.me/s/fefudvfu">Telegram</a>
        </div>
        <div class="footer-copyright">Проект &copy; 2025</div>
    </div>
</footer> 