<header>
    <div class="logo"><a href="{{ url_for('index') }}" class="logo-link">fefudance</a></div>
    <nav class="nav">
        <div class="dropdown">
            <button class="dropbtn">Площадки <span>&#9660;</span></button>
            <div class="dropdown-content">
                <a href="{{ url_for('dushes') }}">Дюшес</a>
                <a href="{{ url_for('sticker') }}">Sticker</a>
                <a href="{{ url_for('euphoria') }}">Euphoria</a>
                <a href="{{ url_for('inspo') }}">InSpo</a>
            </div>
        </div>
        <a href="#">Контакты</a>
    </nav>
    <div class="lang-login">
        {% if auth_status %}
            <div class="user-info">
                <p>{{ user_data.login }}</p>
                <a href="{{ url_for('logout') }}" class="login-btn">Выйти</a>
            </div>
        {% else %}
            <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id={{ CLIENT_ID }}" class="login-btn">
                Логин
            </a>
        {% endif %}

        {% if auth_success and not auth_status %}
            <div class="alert alert-success">Вы успешно вошли!</div>
        {% endif %}
    </div>
</header>