{% extends "base.html" %}

{% block content %}
<div class="notifications">
    {% if booking_success %}
        <div class="alert alert-success booking-notification">Время успешно забронировано!</div>
    {% endif %}
    {% if error_message %}
        <div class="alert alert-warning booking-notification">{{ error_message }}</div>
    {% endif %}
</div>

{% include 'calendar.html' %}

<div class="right-column">
    {% include 'news.html' %}
    {% include 'venues.html' %}
</div>

{% include 'faq.html' %}
{% endblock %}